<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/stor.css">
</head>

<body>
    <div ><ul>
        <%if(typeof error !== 'undefined' ){%>
            <% error.forEach((err)=>{%>
              <li class="error"><%=err%></li>
               <%})%> 
            <%}%>
          </ul>
        <form method="post" action="/add">
        <h2 class="head">Add Info</h2>
        <div class="labels" >
            <label>Name</label>
            <input name="name" type="text">
        </div>
        <div class="labels">
            <label>Email</label>
            <input name="email" type="text">
        </div>
            <button>Add User</button>
        </form>
        
    </div>
</body>
</html>



